/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
    height: 100%;
    background: #515e7b;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
}


/* MAIN  */

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.global-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.time {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin-top: -100px;
    position: relative;
    opacity: 0.1;
}

.title::after {
    content: '';
    height: 3px;
    width: 100px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 45%;
    margin-left: 20px;
}

.header-time {
    display: inline-block;
    color: #fff;
}

.header-time,
span {
    vertical-align: middle;
    margin: 0;
}


/* BUTTONS */

.buttons {
    margin-top: -120px;
}

.button {
    padding: 8px 20px;
    border: 0;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.button:not(:last-child) {
    margin-right: 10px;
}

.hours::before {
    content: 'hours';
    font-size: 10px;
    display: block;
    position: absolute;
    font-weight: 400;
    text-align: center;
}

.minutes::before {
    content: 'minutes';
    font-size: 10px;
    display: block;
    position: absolute;
    font-weight: 400;
    text-align: center;
}

.seconds::before {
    content: 'seconds';
    font-size: 10px;
    display: block;
    position: absolute;
    font-weight: 400;
    text-align: center;
}

.milSeconds::before {
    content: 'milliseconds';
    font-size: 10px;
    display: block;
    position: absolute;
    font-weight: 400;
}

.start {
    background-color: rgb(40, 240, 57);
    color: white;
}

.pouse {
    background-color: rgb(64, 120, 224);
    color: white;
}

.restart {
    background-color: rgb(224, 60, 31);
    color: white;
}